.hosting-plans3
    .container
        .hosting-plans3--wrap
            header.hosting-plans3--header
                +title-block([
                    {
                        'high': 'Hosting',
                        'low': '3 column'
                    }
                ])
            .plan-list
                +planBox([
                    {
                        'class': "plan-list--item__3col",
                        'price': '10',
                        'title': 'NextGen Hosting',
                        'details': [
                            "Lorem Ipsum is simply",
                            "Publishing packages",
                            "Anything embarrassing",
                            "Embarrassing hidden",
                            "Letraset containing"
                        ]
                    },
                    {
                        'class': "plan-list--item__3col",
                        'price': '11',
                        'title': 'Resellers Hosting',
                        'details': [
                            "Lorem Ipsum is simply",
                            "Publishing packages",
                            "Anything embarrassing",
                            "Embarrassing hidden",
                            "Letraset containing"
                        ]
                    },
                    {
                        'class': "plan-list--item__3col",
                        'price': '12',
                        'title': 'Grid Web Hosting',
                        'details': [
                            "Lorem Ipsum is simply",
                            "Publishing packages",
                            "Anything embarrassing",
                            "Embarrassing hidden",
                            "Letraset containing"
                        ]
                    }
                ])