header.top-header
    .container
        .top-header--wrap
            .header-logo
                block logo
                    include logo
            .header-links
                block user-block
                    include user-block
        .top-header--wrap
            block menu
                include menu

