header.top-header
    .container
        .top-header--wrap
            .header-logo
                block logo
                    include logo
            .header-trigger
                a(href="#")#js-nav-trigger.nav-trigger
                    | Menu
            .header-links
                block user-block
                    include user-block
        .top-header--menu
            block menu
                include menu

