section.home-services
    .container
        .home-services--wrap
            .home-services--hot
                +title-block([
                    {
                        'highClass': 'heading-high__hot',
                        'high': 'Now',
                        'lowClass': 'heading-low__hot',
                        'low': 'What is hot'
                    }
                ])
                .home-services--banner.hot-banner
                    p.hot-banner--top get up to
                    span.hot-banner--price 50%
                    span.hot-banner--off Off
                    .hot-banner--details
                        p each
                        p hosting

            .home-services--features
                +title-block([
                    {
                        'highClass': 'heading-high__hot',
                        'high': 'Our',
                        'lowClass': 'heading-low__hot',
                        'low': 'Features'
                    }
                ])
                .home-services--features-list
                    ul.features-list
                        .features-list--col
                            li Lorem Ipsum is simply dummy.
                            li Discovered the undoubtable.
                            li Various versions have evolved.
                            li Suffered alteration in some.
                        .features-list--col
                            li Specimen book.
                            li Lpsum generators.
                            li Sentence structures.
                            li Embarrassing hidden.
                        .features-list--col
                            a(href="service.html").btn View all