.login-form-modal
    a.login-form--close(href='#0') Close

    .login-form-modal--container
        ul.form-switcher
            li
                a(href='#0').form-switcher--title Login
            li
                a(href='#0').form-switcher--title Register
        #js-login
            form.login-form(method='POST')
                .login-form--fieldset
                    input#signin-email(type='email', placeholder='E-mail*', required='').login-form--input
                .login-form--fieldset
                    input#signin-password(type='password', placeholder='Password*', required='').login-form--input
                .login-form--fieldset
                    input#remember-me(type='checkbox', checked='')
                    label(for='remember-me').checkbox-title Remember me
                .login-form--fieldset
                    input(type='submit', value='Send').login-form--btn
        #js-signup
            form.login-form(method='POST')
                .login-form--fieldset
                    input#signup-username(type='text', placeholder='Username*', required='').login-form--input
                .login-form--fieldset
                    input#signup-email(type='email', placeholder='E-mail*', required='').login-form--input
                .login-form--fieldset
                    input#signup-password(type='password', placeholder='Password*', required='').login-form--input
                .login-form--fieldset
                    input#accept-terms(type='checkbox')
                    label(for='accept-terms').checkbox-title
                        | I agree to the &nbsp;
                        a(href='#0') Terms
                .login-form--fieldset
                    input(type='submit', value='Create account').login-form--btn

