.login-form
    form.auth
        h3.auth--title Login
        .auth--field
            input(type='email', placeholder='Email *')
        .auth--field
            input(type='password', placeholder='Password *')

        input(type='submit', value='Send').auth--btn