section.srh-domain
    .container
        .srh-domain--wrap
            .srh-domain--title
                +title-block([
                    {
                        'icon': 'search',
                        'high': 'Search your',
                        'low': 'Domain'
                    }
                ])
            .srh-domain--form
                include search-domain-form