section.srh-domain
    .container
        .srh-domain--wrap
            +title-block([
                {
                    'icon': 'search',
                    'high': 'Search your',
                    'low': 'Domain'
                }
            ])
            form(method='get', action="").domainSearch
                .domainSearch--field
                    input(type='text', placeholder='Enter your domain name').textInput
                .domainSearch--field
                    select.textInput
                        option Year (0-1 year)
                        option Year (1-3 years)
                        option Year (3-5 years)
                .domainSearch--field
                    select.textInput
                        option .com
                        option .org
                        option .net
                .domainSearch--field
                    button(type='submit').btn Search