section.steps
    .container
        .steps--wrap
            header.step--title
                +title-block([
                    {
                        'high': 'Follow',
                        'low': 'Steps'
                    }
                ])
            .steps--list
                +step([
                    {
                        "title": "Choose your plan",
                        "desc": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since."
                    },
                    {
                        "title": "creative your account",
                        "desc": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since."
                    },
                    {
                        "title": "launch your hosting",
                        "desc": "Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since."
                    }
                ])