block var
    include var

include mixin

doctype html

html(lang="en")

    head
        block meta
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="description", content="Desctiption of #{thisPage.toLowerCase()} page")

        title
            block title
                | #{pageTitle}

        block favicon
            if (favicon.showFavicon)
                +favicon(favicon.path)

        block link
            link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800',
            rel='stylesheet', type='text/css')
            link(rel="stylesheet", href="css/style.css")

    body
        block header
            include header

        block login-form
            include login-form

        block main

        block svgsrite
            // svgsrite
            include svgsprite

        block script
            //script
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
            //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
            script(src='js/login.js')
            script(src="js/analytics.js")
