ul.user-links
    li.user-links--item Support :&nbsp;
        a(href="mailto:info@example.com?subject=Mail%20from%20Our%20Site") info@example.com
    li.user-links--item
        a(href="#") Register
    li.user-links--item
        a(href="#") Login

