$browser-context: 16;

// COLORS
$accent: #ff8261;
$active: #52cbf8;
$logo-text: #161920;
$heading-light: #859aa1;
$bold-text: #556b72;
$text-hot: #4c515b;
$contact-border-color: #dfecf0;
$light-text-color: #a0a9b6;
$icon-bright: #fb6b45;
$section-bg-dark: #222836;
$section-bg-light: #e7f4f8;
$section-bg-hot: #fffbde;
$input-border: #dfeef3;
$hot-banner-text: #97947f;
$planbox-border: #e1eff4;
$planbox-text: #8d9198;
$planbox-list-border: #f0f4f7;
$footer-text-color: #909aad;
$quote-border: #dbeaee;
$social-border: #d8e6ea;
$table-border: #d4e8ee;

//BREAKPOINTS
$xs: max-width 20rem; //320px
$s: max-width 30rem; //480px
$m: max-width 40rem;  //640px
$xm: max-width 50rem;  //800px
$l: max-width 60rem;  //960px
$xl: max-width 75rem; //1200px
