$browser-context: 16;

// COLORS
$accent: #ff8261;
$active: #52cbf8;
$logo-text: #161920;
$bold-text: #556b72;
$contact-border-color: #dfecf0;
$placeholder-text-color: #a0a9b6;
$form-btn: #fb6b45;
$section-bg-dark: #222836;

//BREAKPOINTS
$xs: max-width 20rem; //320px
$s: max-width 30rem; //480px
$m: max-width 40rem;  //640px
$l: max-width 60rem;  //960px
$xl: max-width 75rem; //1200px
