@import 'reset';
@import 'font';
@import 'breakpoint';
@import 'susy';


body {
  font-size: 16px;
}

//TITLE-BLOCK
.title-block--icon {
  display: block;

  width: rem(24);
  height: rem(24);

  fill: $icon-bright;
}

.title-block--underscore {
  width: rem(24);
  height: rem(24);

  border-bottom: 2px solid $icon-bright;
}

.heading-high {
  text-transform: uppercase;

  color: $heading-light;

  font-size: rem(18);
  line-height: rem(30);

  @include font(opensans);
  @include breakpoint($s) {
    font-size: rem(15);
    line-height: 1.5;
  }
}

.heading-low {
  text-transform: uppercase;

  color: $bold-text;

  font-size: rem(30);

  @include font(opensans, extrabold);
  @include breakpoint($s) {
    font-size: rem(25);
  }
}

.heading-high.heading-high__hot,
.heading-low.heading-low__hot {
  color: $text-hot;
}


//FORM STYLE

.textInput {
  width: 100%;
  height: rem(55);
  padding: 0 rem(18);

  color: $light-text-color;
  border: 1px solid $input-border;
  outline: none;

  background-color: #fff;

  font-size: rem(14);
  line-height: rem(55);

  @include font(opensans);
}

select.textInput {
  padding-right: 0;
}


//BUTTON

.btn {
  display: block;

  width: 100%;
  height: rem(55);

  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  color: #fff;

  background-color: $accent;

  font-size: rem(14);
  line-height: rem(55);

  @include font(opensans, bold);
  @include breakpoint($s) {
    font-size: rem(12);
  }

  &:hover {
    background-color: darken($accent, 5%);
  }

  &:active {
    background-color: darken($accent, 10%);
  }
}
