// FONT

$font-stack: (
  group: opensans,
  id: light,
  font: ('Open Sans', sans-serif),
  weight: 300,
  style: normal
),
(
  group: opensans,
  id: regular,
  font: ('Open Sans', san-serif ),
  weight: 400,
  style: normal
),
(
  group: opensans,
  id: semibold,
  font: ('Open Sans', san-serif ),
  weight: 600,
  style: normal
),
(
  group: opensans,
  id: bold,
  font: ('Open Sans', san-serif ),
  weight: 700,
  style: normal
),
(
  group: opensans,
  id: extrabold,
  font: ('Open Sans', san-serif ),
  weight: 800,
  style: normal
);

//  Mixin
@mixin font($group, $id: regular) {
  @each $font in $font-stack {
    @if($group == map-get($font, group) and $id == map-get($font, id)) {
      font-family: map-get($font, font);
      font-weight: map-get($font, weight);
      font-style: map-get($font, style);
    }
  }
}

//@include font(opensans);
//@include font(opensans, light);
//@include font(opensans, semibold);
//@include font(opensans, bold);
//@include font(opensans, extrabold);

.block-title {
  text-transform: uppercase;

  color: $bold-text;

  font-size: rem(14);
  line-height: 130%;

  @include font(opensans, extrabold);
}

.block-text {
  color: $light-text-color;

  font-size: rem(13.5);
  line-height: 180%;

  @include font(opensans);
}
