// SUSY CONFIG
$susy: (
  columns: 12,
  gutters: 0,
  container: 73.125rem,
  math: fluid,
  output: float,
  gutter-position: after,
  global-box-sizing: border-box,
);

//SEARCH DOMAIN
$asym: (
  columns: 2.606060606 1 1 1.145454545,
  gutters: 1/17,
  gutter-position: after,
);


.container {
  min-width: 20rem; //320
  max-width: 73.125rem; //1170
  margin: 0 auto;
  padding: 0 rem(15);

  outline: 1px dotted red;

  @include container();
}
