.faq-question--wrap {
  padding-top: 3.684210526315789%;
  padding-bottom: 7.192982456140351%;
  border-bottom: 2px solid $hr-border;
}

.faq-question--title {
  margin-bottom: rem(53);
}

.faq-question--btn {
  width: rem(379);
  margin: 0 auto;
  margin-top: rem(37);

  @include breakpoint($s) {
    width: 85%;
  }
}