.field-feedback {
  display: block;
  position: relative;
  @include susy-clearfix;
  margin-bottom: rem(10);
}

.feedback-form .field-feedback:nth-child(1) {
  @include span(6 of 12 1/2.2 after);
  
  @include breakpoint($xm) {
    @include full();
  }
}

.feedback-form .field-feedback:nth-child(2) {
  @include span(6 of 12 at 7 1/2.2 after);

  @include breakpoint($xm) {
    @include full();
  }
}

.feedback-form .field-feedback:nth-child(3) {
  @include full();
}

.feedback-form .field-feedback:nth-child(4) {
  @include full();
}


.textInput__feedback[required] + .textInput-label {
  display: block;
  position: absolute;
  left: rem(18);
  top: 0;
  @include font(opensans);
  font-size: rem(14);
  line-height: rem(55);
  color: $light-text-color;

  @include breakpoint($s) {
    line-height: rem(50);
  }
}

.textInput__feedback[required] + .textInput-label::after {
  content:'*';
  color: $accent;
}

.textInput__feedback[required]:invalid + .textInput-label {
  display: inline-block;
}

.textInput__feedback[required]:valid + .textInput-label{
  display: none;
}

.textInput__feedback[required]:focus + .textInput-label{
  display: none;
}

.textInput__feedback {
  @include breakpoint($s) {
    height: rem(50);
    line-height: rem(50);
  }
}

.feedback-textarea {
  height: rem(200);
  padding-top: rem(18);
  line-height: normal;
  resize: none;
  overflow: auto;
}

.feedback-form--btn {
  width: rem(160);

  @include breakpoint($s) {
    width: 100%;
  }
}