.top-header {
  height: rem(100);

  outline: 1px dotted black;

  @include breakpoint($s) {
    height: auto;
  }
}

.header-logo,
.header-links {
  padding-top: rem(27);

  @include breakpoint($m) {
    padding-top: rem(15);
  }
}

.header-logo {
  @include span(3);
  @include breakpoint($s) {
    @include span(full);
  }
}

.header-links {
  width: rem(455);

  @include span(last);
  @include breakpoint($m) {
    width: rem(260);
  }
  @include breakpoint($s) {
    @include span(full);
  }
}
