.top-header--wrap,
.top-header--menu {
  &::after {
    @include cf;
  }
}

.top-header--wrap {
  padding-top: rem(27);
}

.top-header--menu {
  padding-top: rem(25);

  @include breakpoint($m) {
    padding-top: rem(15);
  }
}

.header-logo {
  @include span(3);
  @include breakpoint($l) {
    @include span(9);
  }
}

.header-links {
  width: rem(455);

  @include span(last);
  @include breakpoint($l) {
    @include span(full);
  }
}

.header-trigger {
  display: none;

  @include breakpoint($l) {
    display: block;

    text-align: right;

    @include span(3);
  }
}
