.top-header--wrap {
  &:last-child {
    padding-top: rem(25);

    @include breakpoint($m) {
      padding-top: rem(15);
    }
  }

  &::after {
    @include cf;
  }
}

.header-logo,
.header-links {
  padding-top: rem(27);

  @include breakpoint($m) {
    padding-top: rem(15);
  }
}

.header-logo {
  @include span(3);
  @include breakpoint($s) {
    text-align: center;

    @include span(full);
  }
}

.header-links {
  width: rem(455);

  @include span(last);
  @include breakpoint($m) {
    width: rem(260);
  }
  @include breakpoint($s) {
    @include span(full);
  }
}
