.home-services {
  background-color: $section-bg-hot;
}

.home-services--wrap {
  padding-top: rem(58);
  padding-bottom: rem(100);
  &::after {
    @include cf;
  }
}

.home-services--hot {
  @include span(5);

  @include breakpoint($l) {
    @include span(12);
  }
}

.home-services--features {
  @include span(7);

  @include breakpoint($l) {
    @include span(12);
    padding-top: rem(30);
  }
}

.home-services--banner {
  margin-top: rem(30);
}

.home-services--features-list {
  padding-top: rem(30);
}


//list
.features-list {

}

.features-list--col {
  float: left;
  margin-right: 5%;
  
  &:last-child{
    margin-right: 0;
    padding-top: rem(60);
  }
}

.features-list--col .btn {
  width: rem(164);
}

.features-list li {
  @include font(opensans);
  font-size: rem(14);
  color: $text-hot;
  margin-bottom: rem(20);
  &::before {
    content: '';
    display: inline-block;
    width: rem(8);
    height: rem(11);
    margin-right: rem(12);
    background-image: svg("list-right.min", "[fill]: #4c515b");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: baseline;
  }
}