.home-services {
  background-color: $section-bg-hot;
}

.home-services--wrap {
  padding-top: rem(58);
  padding-bottom: rem(100);
  @include susy-clearfix;
}

.home-services--hot {
  @include span(5);
  @include breakpoint($l) {
    @include span(10);
    @include push(1);
  }
  @include breakpoint($xs) {
    @include span(full);
  }
}

.home-services--features {
  @include span(7);
  @include breakpoint($l) {
    padding-top: rem(30);

    @include span(10);
    @include push(1);
  }
  @include breakpoint($xs) {
    @include span(full);
  }
}

.home-services--banner {
  margin-top: rem(30);
}

.home-services--features-list {
  padding-top: rem(30);
}


//list


.features-list--col {
  float: left;

  margin-right: 5%;

  &:last-child {
    margin-right: 0;
    padding-top: rem(60);
  }
}

.features-list--col .btn {
  width: rem(164);
}

.features-list li {
  margin-bottom: rem(20);

  color: $text-hot;

  font-size: rem(14);

  @include font(opensans);
  &::before {
    display: inline-block;

    width: rem(8);
    height: rem(11);
    margin-right: rem(12);

    content: '';
    vertical-align: baseline;

    background-image: svg('list-right.min', '[fill]: #4c515b');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
