.hot-banner {
  width: rem(337);
  height: rem(96);
  padding: rem(15);

  border: 2px solid $section-bg-hot;
  outline: 10px solid #fff;

  background-color: #fff;

  @include breakpoint($xs) {
    width: rem(280);
    padding-top: rem(25);
  }
}

.hot-banner--top {
  text-transform: uppercase;

  color: $hot-banner-text;

  font-size: rem(14);

  @include font(opensans, extrabold);
}

.hot-banner--price,
.hot-banner--off {
  margin-right: rem(12);

  text-transform: uppercase;

  font-size: rem(48);

  @include font(opensans, extrabold);
  @include breakpoint($xs) {
    font-size: rem(38);
  }
}

.hot-banner--price {
  color: $accent;
}

.hot-banner--off {
  color: $active;
}

.hot-banner--details {
  display: inline-block;
}

.hot-banner--details p {
  text-transform: uppercase;

  font-size: rem(17);
  line-height: 1.3;

  @include breakpoint($xs) {
    font-size: rem(14);
  }
}

.hot-banner--details p:first-child {
  color: $hot-banner-text;

  @include font(opensans, light);
}

.hot-banner--details p:last-child {
  color: $text-hot;

  @include font(opensans, extrabold);
}
