.top-menu {
  margin-right: rem(-15);
  margin-left: rem(-15);

  &::after {
    @include cf;
  }
}

.top-menu.is-visible {
  @include breakpoint($l) {
    .menu-link {
      height: rem(40);
      visibility: visible;
      transition: height .2s ease;
    }
  }
}

.menu-item {
  height: rem(56);

  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  @include span(1 of 10);
  @include breakpoint($l) {
    height: (inherit);
    @include span(6);

    &:nth-child(even) {
      text-align: left;

      .menu-link {
        padding-left: 5%;
      }
    }

    &:nth-child(odd) {
      text-align: right;

      border-right: 1px solid #fff;

      .menu-link {
        padding-right: 5%;
      }
    }
  }
}

.menu-link {
  display: block;

  height: rem(56);

  transition: background-color .2s ease;
  text-transform: uppercase;
  color: #fff;

  background-color: $accent;

  font-size: rem(13);
  line-height: rem(56);
  @include font(opensans);
  @include breakpoint($l) {
    height: rem(0);
    line-height: rem(40);
    visibility: hidden;
  }

  &:hover {
    background-color: $active;
  }

  &:active {
    background-color: darken($active, 10%);
  }
}

.menu-link__active {
  background-color: $active;
}

.nav-trigger {
  display: inline-block;

  height: rem(40);
  padding: 0 rem(15);

  text-align: center;
  text-transform: uppercase;

  color: #fff;

  background-color: $accent;

  font-size: rem(13);
  line-height: rem(40);

  @include font(opensans);
}
