.register-domain--wrap {
  padding-top: 3.684210526315789%;
  padding-bottom: 8.771929824561402%;
}

.register-domain--title {
  padding-bottom: rem(30);
}

.register-domain--form {
  margin-bottom: rem(36);
}

.register-domain--subtitle {
  padding-bottom: rem(16);

  text-transform: uppercase;

  color: $bold-text;

  font-size: rem(14);
  line-height: 200%;

  @include font(opensans, extrabold);
  @include breakpoint($s) {
    padding-bottom: rem(26);
  }
}

.register-domain--slider {
  margin-bottom: 2rem;
}
