.srh-domain {
  height: rem(198);

  background-color: $section-bg-light;

  @include breakpoint($l) {
    height: auto;
    padding-bottom: rem(35);
  }
}

.srh-domain--wrap {
  padding-top: rem(40);

  @include susy-clearfix;
}

.srh-domain--title {
  @include span(1.8);
  @include breakpoint($l) {
    @include full();
  }
}

.srh-domain--form {
  padding-top: rem(30);

  @include span(10.2);
  @include breakpoint($l) {
    @include full();
  }
}
