.srh-domain {
  height: rem(198);

  background-color: $section-bg-light;

  @include breakpoint($l) {
    height: auto;
    padding-bottom: rem(35);
  }
}

.srh-domain--wrap {
  padding-top: rem(40);
  &::after {
    @include cf;
  }
}

.srh-domain--title {
  @include span(1.8);
  
  @include breakpoint($l) {
    @include span(full);
    @include push(1);
  }
}

.srh-domain--form {
  @include span(10.2);
  padding-top: rem(30);

  @include breakpoint($l) {
    @include push(1);
    @include span(10);
  }
}

.domainSearch {
  &::after {
    @include cf;
  }
}

.domainSearch--field {
  @include span(1 of $asym first);

  @include breakpoint($l) {
    @include span(full);
    margin-bottom: rem(15);
  }
}

.domainSearch--field.domainSearch--select:nth-child(2) {
  @include span(1 of $asym at 2);
  @include breakpoint($l) {
    @include span(6);
    margin-right: 0;
    padding-right: rem(5);
  }

  @include breakpoint($s) {
    @include span(full);
    padding-right: 0;
  }
}

.domainSearch--field.domainSearch--select:nth-child(3) {
  @include span(1 of $asym at 3);
  @include breakpoint($l) {
    @include span(6 last);
    padding-left: rem(5);
  }
  @include breakpoint($s) {
    @include span(full);
    padding-left: 0;
  }
}

.domainSearch--field.domainSearch--btn {
  @include span(1 of $asym last);
  @include breakpoint($l) {
    @include push(3);
    @include span(6);
  }
}
