/* RESET */
* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  cursor: pointer;
  letter-spacing: inherit;
  border: 0;
  outline: 0;
  background: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* RESET ends */
body {
  font-size: 16px;
}

.container {
  min-width: 20rem;
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.top-header {
  height: 6.25rem;
  outline: 1px dotted black;
}

@media (max-width: 30rem) {
  .top-header {
    height: auto;
  }
}

.header-logo,
.header-links {
  padding-top: 1.6875rem;
}

@media (max-width: 40rem) {
  .header-logo,
  .header-links {
    padding-top: 0.9375rem;
  }
}

.header-logo {
  width: 25%;
  float: left;
}

@media (max-width: 30rem) {
  .header-logo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.header-links {
  width: 28.4375rem;
  float: right;
  margin-right: 0;
}

@media (max-width: 40rem) {
  .header-links {
    width: 16.25rem;
  }
}

@media (max-width: 30rem) {
  .header-links {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.auth {
  width: 500px;
  height: 300px;
  padding: 1.25rem;
  margin: 0 auto;
  border: 1px solid #000;
}

.auth--title {
  text-transform: uppercase;
  color: #556b72;
  font-size: 1.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
}

.auth--field {
  margin-bottom: 0.625rem;
}

.auth--field input {
  width: 100%;
  height: 2.875rem;
  line-height: 2.875rem;
  padding: 0 0.9375rem;
  color: #a0a9b6;
  border: 1px solid #dfecf0;
  outline: none;
  font-size: 0.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

.auth--btn {
  height: 2.75rem;
  padding: 0 2rem;
  float: right;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  background-color: #fb6b45;
  font-size: 0.8125rem;
  line-height: 2.75rem;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
}

.user-links {
  width: 100%;
  height: 2.875rem;
  list-style: none;
  text-align: right;
  border-top: 1px solid #e1e9f2;
  border-bottom: 1px solid #e1e9f2;
}

@media (max-width: 40rem) {
  .user-links {
    height: auto;
  }
}

@media (max-width: 30rem) {
  .user-links {
    text-align: center;
    border-bottom: none;
  }
}

.user-links--item {
  display: inline-block;
  color: #484e57;
  font-size: 0.875rem;
  line-height: 2.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 40rem) {
  .user-links--item {
    line-height: 2.1875rem;
  }
}

@media (max-width: 40rem) {
  .user-links--item:first-child {
    display: block;
  }
  .user-links--item:first-child::after {
    display: none;
  }
}

@media (max-width: 30rem) {
  .user-links--item:first-child {
    display: inline-block;
  }
  .user-links--item:first-child::after {
    display: inline-block;
  }
}

.user-links--item::after {
  margin-right: 0.3125rem;
  margin-left: 0.625rem;
  content: '|';
  color: #9ba4b0;
}

.user-links--item:last-child::after {
  display: none;
}

.user-links--item a {
  color: #9ba4b0;
  font-size: 0.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  display: block;
  height: 2.875rem;
}

@media (max-width: 40rem) {
  .logo {
    height: auto;
  }
}

.logo--icon {
  display: inline-block;
  width: 3.0625rem;
  height: 1.9375rem;
  margin-right: 0.5625rem;
  vertical-align: middle;
}

@media (max-width: 40rem) {
  .logo--icon {
    display: block;
  }
}

@media (max-width: 30rem) {
  .logo--icon {
    display: inline-block;
  }
}

.logo--text {
  vertical-align: middle;
  text-transform: uppercase;
  color: #161920;
  font-size: 1.25rem;
  line-height: 220%;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
}

@media (max-width: 30rem) {
  .logo--text {
    font-size: 1.125rem;
  }
}
/*# sourceMappingURL=style.css.map */