/* RESET */
* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  cursor: pointer;
  letter-spacing: inherit;
  border: 0;
  outline: 0;
  background: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* RESET ends */
body {
  font-size: 16px;
}

.container {
  min-width: 20rem;
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  outline: 1px dotted red;
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.top-header--wrap:last-child {
  padding-top: 1.5625rem;
}

@media (max-width: 40rem) {
  .top-header--wrap:last-child {
    padding-top: 0.9375rem;
  }
}

.top-header--wrap::after {
  display: table;
  clear: both;
  content: '';
}

.header-logo,
.header-links {
  padding-top: 1.6875rem;
}

@media (max-width: 40rem) {
  .header-logo,
  .header-links {
    padding-top: 0.9375rem;
  }
}

.header-logo {
  width: 25%;
  float: left;
}

@media (max-width: 30rem) {
  .header-logo {
    text-align: center;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.header-links {
  width: 28.4375rem;
  float: right;
  margin-right: 0;
}

@media (max-width: 40rem) {
  .header-links {
    width: 16.25rem;
  }
}

@media (max-width: 30rem) {
  .header-links {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.login-form-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
}

.login-form-modal.is-visible {
  visibility: visible;
  transition: opacity 0.3s, visibility 0s;
  opacity: 1;
}

.login-form-modal--container {
  position: relative;
  width: 90%;
  min-width: 20rem;
  max-width: 31.25rem;
  margin: 6.25rem auto 4rem;
  cursor: auto;
  background: #fff;
}

@media (max-width: 30rem) {
  .login-form-modal--container {
    margin-top: 3.125rem;
  }
}

@media (max-width: 20rem) {
  .login-form-modal--container {
    width: 100%;
  }
}

.form-switcher {
  margin-bottom: 1rem;
}

.form-switcher::after {
  display: table;
  clear: both;
  content: '';
}

.form-switcher li {
  float: left;
  width: 50%;
  text-align: center;
}

.form-switcher--title {
  display: block;
  width: 100%;
  height: 3.125rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(85, 107, 114, 0.7);
  font-size: 1.25rem;
  line-height: 3.125rem;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
}

.form-switcher a.selected {
  color: #556b72;
  background: #fff;
}

.login-form {
  padding: 1.25rem;
}

.login-form ::after {
  display: table;
  clear: both;
  content: '';
}

.login-form--fieldset {
  position: relative;
  margin: 1.4rem 0;
}

.login-form--fieldset:first-child {
  margin-top: 0;
}

.login-form--fieldset:last-child {
  margin-bottom: 0;
}

.login-form--input {
  width: 100%;
  height: 2.875rem;
  padding: 0 0.9375rem;
  color: #a0a9b6;
  border: 1px solid #dfecf0;
  outline: none;
  font-size: 0.875rem;
  line-height: 2.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

.login-form--input:focus {
  border: 1px solid #556b72;
}

.checkbox-title,
.checkbox-title a {
  color: #a0a9b6;
  font-size: 0.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

.checkbox-title a {
  border-bottom: 1px solid #a0a9b6;
}

.login-form--btn {
  float: right;
  height: 2.75rem;
  padding: 0 2rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  background-color: #fb6b45;
  font-size: 0.8125rem;
  line-height: 2.75rem;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.login-form--btn:hover {
  background-color: #fa572c;
}

.login-form--btn:active {
  background-color: #ee3605;
}

.login-form--close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.3125rem;
  margin-right: 0.3125rem;
  white-space: nowrap;
  text-indent: 100%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2286.467%22%20width%3D%2286.467%22%20viewBox%3D%220%200%2086.467499%2086.466751%22%20style%3D%22fill%3A%23161920%3B%22%3E%3Cpath%20d%3D%22M55.38%2043.232l30.218-30.22c1.16-1.158%201.16-3.036%200-4.194l-7.95-7.95C76.49-.29%2074.612-.29%2073.453.868l-30.22%2030.22L13.016.867C11.857-.29%209.978-.29%208.82.868L.87%208.818c-1.16%201.158-1.16%203.036%200%204.195l30.218%2030.22L.87%2073.452c-1.16%201.158-1.16%203.036%200%204.194l7.95%207.95c1.158%201.16%203.037%201.16%204.195%200l30.22-30.218L73.45%2085.596c1.16%201.16%203.037%201.16%204.195%200l7.95-7.95c1.16-1.158%201.16-3.036%200-4.195L55.38%2043.232z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 30rem) {
  .login-form--close {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}

#cd-login,
#cd-signup {
  display: none;
}

#cd-login.is-selected,
#cd-signup.is-selected {
  display: block;
}

.user-links {
  width: 100%;
  height: 2.875rem;
  list-style: none;
  text-align: right;
  border-top: 1px solid #e1e9f2;
  border-bottom: 1px solid #e1e9f2;
}

@media (max-width: 40rem) {
  .user-links {
    height: auto;
  }
}

@media (max-width: 30rem) {
  .user-links {
    text-align: center;
    border-bottom: none;
  }
}

.user-links--item {
  display: inline-block;
  color: #484e57;
  font-size: 0.875rem;
  line-height: 2.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 40rem) {
  .user-links--item {
    line-height: 2.1875rem;
  }
}

@media (max-width: 40rem) {
  .user-links--item:first-child {
    display: block;
  }
  .user-links--item:first-child::after {
    display: none;
  }
}

.user-links--item::after {
  margin-right: 0.3125rem;
  margin-left: 0.625rem;
  content: '|';
  color: #9ba4b0;
}

.user-links--item:last-child::after {
  display: none;
}

.user-links--item a {
  color: #9ba4b0;
  font-size: 0.875rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

.top-menu {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.top-menu::after {
  display: table;
  clear: both;
  content: '';
}

.menu-item {
  text-align: center;
  width: 10%;
  float: left;
}

@media (max-width: 60rem) {
  .menu-item {
    width: 50%;
    float: left;
  }
  .menu-item:nth-child(even) {
    text-align: left;
  }
  .menu-item:nth-child(even) .menu-link {
    padding-left: 5%;
  }
  .menu-item:nth-child(odd) {
    text-align: right;
    border-right: 1px solid #fff;
  }
  .menu-item:nth-child(odd) .menu-link {
    padding-right: 5%;
  }
}

.menu-link {
  display: block;
  height: 3.5rem;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff8261;
  font-size: 0.8125rem;
  line-height: 3.5rem;
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 60rem) {
  .menu-link {
    height: 2.5rem;
    line-height: 2.5rem;
  }
}

.menu-link:hover {
  background-color: #52cbf8;
}

.menu-link:active {
  background-color: #21bcf6;
}

.menu-link__active {
  background-color: #52cbf8;
}

.logo {
  display: block;
  height: 2.875rem;
}

@media (max-width: 40rem) {
  .logo {
    height: auto;
  }
}

.logo--icon {
  display: inline-block;
  width: 3.0625rem;
  height: 1.9375rem;
  margin-right: 0.5625rem;
  vertical-align: middle;
}

@media (max-width: 40rem) {
  .logo--icon {
    display: block;
  }
}

@media (max-width: 30rem) {
  .logo--icon {
    display: inline-block;
  }
}

.logo--text {
  vertical-align: middle;
  text-transform: uppercase;
  color: #161920;
  font-size: 1.25rem;
  line-height: 220%;
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
}

@media (max-width: 30rem) {
  .logo--text {
    font-size: 1.125rem;
  }
}

.top-slider {
  background-color: #222836;
  height: 35.625rem;
}

.slide {
  width: 100%;
  position: relative;
}

.slide--img img {
  display: block;
  width: 100%;
  height: 35.625rem;
}

.slide--inner {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  text-align: center;
  padding-top: 23.4375rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #1e1e1e 110%);
  height: 100%;
}

.slide--title {
  font-family: "Open Sans", san-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

.slide--subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

.flickity-page-dots {
  bottom: 3.75rem;
  left: 0;
  text-align: center;
}

.flickity-page-dots .dot {
  width: 0.8125rem;
  height: 0.8125rem;
  margin: 0 0.3125rem;
  opacity: 1;
  background-color: transparent;
  border: 2px solid #ff8261;
}

.flickity-page-dots .dot.is-selected {
  background: inherit;
  border: 2px solid #5278db;
}
/*# sourceMappingURL=style.css.map */