extends inc/temp

append var
    - var thisPage = 'About us'
    - var pageSubhead = 'What we are'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

append main
    include inc/details
    include inc/offers