extends inc/temp

append var
    - var thisPage = 'Faq'
    - var pageSubhead = 'Questions'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)
    - var selected = 'faq'

append main
    section.faq-question
        .container
            .faq-question--wrap
                header.faq-question--title
                    +title-block([
                        {
                            'high': 'Question',
                            'low': "Faq's"
                        }
                    ])
                .faq-question--questions-list
                    include inc/questions-list
                .faq-question--btn
                    a(href="mailto:info@example.com?subject=Mail from Hosting Site").btn Ask our questions through email
    section.faq-feedback
        .container
            .faq-feedback--wrap
                header.faq-feedback--title
                    +title-block([
                        {
                            'high': 'Submit your',
                            'low': "Questions"
                        }
                    ])
                .faq-feedback--form
                    include inc/feedback

append script
    script(src="js/feedback.js", async='')

