extends inc/temp

append var
    - var thisPage = 'Hosting'
    - var pageSubhead = 'Plans'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)
    - var selected = 'hosting plans'

append main
    include inc/steps
    section.section-light-bg
        include inc/hosting-plans
    section
        include inc/3column