extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)
    - var selected = 'home'

prepend link
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css')

block hero
    
append main
    include inc/slider
    include inc/search-domain
    include inc/benefits
    include inc/home-services
    section.home-hosting
        include inc/hosting-plans

prepend script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js")
    script.
        var elem = document.querySelector('.slider');
        var flkty = new Flickity(elem, {
            cellAlign: 'center',
            contain: true,
            prevNextButtons: true,
            lazyLoad: true,
            initialIndex: 2,
            wrapAround: true,
            arrowShape: {
                x0: 35,
                x1: 55, y1: 25,
                x2: 60, y2: 25,
                x3: 40
            }
        });