extends inc/temp

append var
    - var thisPage = 'Our Service'
    - var pageSubhead = 'What we doing'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)
    - var selected = 'service'

prepend link
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css')

append main
    include inc/hosting-services
    include inc/featured-news
    include inc/service-clients

append script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js")
    script(src="js/clients-slider.js", async='')